body{
    background-image: url("/images/image3.jpg");
    background-size: 1500px ;
    background-position: center ;
    background-repeat: no-repeat;
    margin-bottom:  50px;
}

h2 {
    text-align: center;
    color: #000;
    margin-left: 450px;
    margin-right: 450px;
    padding: 10px;
}

button{
    color: #000;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    margin-top: 5px;
    padding: 10px;
}

p {
    text-align: center;
}

#demo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #000;
}